@import url('https://fonts.googleapis.com/css?family=Lacquer|Montserrat|Bangers&display=swap');
html {
    scroll-behavior: smooth;

    height: 100%;
    font-family: "Lacquer","sans-serif";
    color: white;
}
body {
    background-image: url("img/main3.JPG");
    /**background-size: 100% 100%;**/
    background-size: cover;
    margin: 0 auto;
    height: 100%;
    top: 0;
    padding-top: none;
}
navbar {
    font-family: Montserrat;
    position: absolute;
    margin: 0;
    display: block;
    width: 100%;
}
navbar a {
    color: white;
    display: block;
    float: right;
    padding: 2vh 2vw;
    font-size: 2vh;
    text-decoration: none;
}
a#icon {
    float: left;
    font-family: "Lacquer";
}
main#home {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    
}
main#home h3{
    font-size: 7vw;
    font-weight: normal;
    padding: none;
    margin: none;
    display: inline;
}
.centered-main{
    position: absolute;
    width: 100%;
    top: 20%;
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}
.iconwrap  i{
    color: white;
    font-size: 40px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5%;
}